			.header{
				position:absolute;
				left:30px;
				top:30px;
				text-decoration: none;
				color:white;
			}
			form{
				width:50%;
				padding:0;
			}
			.form-control{
				width:95%;
			}
			.Changetitle{
				height:100px;
				line-height:100px;
				font: 30px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
				font-weight: 400;
				text-align: center;
			}
			.yanz{
				position:relative;
			}
			.send{
				position:absolute;
				top:0;
				right:10px;
				text-decoration: none;
				color:#3399ea;
			}
			.send:hover{
				pointer:cursor;
			}
			.errorMsg{
				padding-left:10px;
			}
